
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :material %>
    <%= f.label :category %>
    <%= f.select :category, Product::PRODUCT_CATEGORIES  %>
    <%= f.input :material %>
    <%= f.input :available_quantity %>
    <%= f.input :size %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
