<div id="<%= dom_id product %>">
  <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill if product.photo.attached? %>
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
