<div id="<%= dom_id product %>">
  <div class="card-trip">
    <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill if product.photo.attached? %>
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
      </div>
      <h2 class="card-trip-pricing">€<%= product.price %></h2>
    </div>
  </div>
</div>
