<p style="color: green"><%= notice %></p>

<div class="product-bar">
  <h1>Products</h1>
  <div class="d-flex">
    <%= form_with url: root_path, method: :get, class: "d-flex mx-4 product-search-bar" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "+", new_product_path, class: "btn btn-success" %>
  </div>
</div>

<div id="products" class="product-cards">
  <% @products.each do |product| %>
    <%= render "product_card", product: product %>
  <% end %>
</div>
